<launch>
  	<arg name="suppress" default="1" />
	<arg name="nav" default="0" />
	<arg name="emergency" default="0" />
	<arg name="usb" default="0" />
	<group if="$(arg suppress)">
		<node name="master" pkg="autopark" type="xbee_all_merged.py" />
		<node name="xbee_all_merged" pkg="autopark" type="xbee_all_merged.py" />
		<node name="bluetooth_comm" pkg="bluetooth" type="bluetooth_comm.py" />
		<node name="optimal" pkg="multiagent" type="optimal.py" />
	</group>
	<group unless="$(arg suppress)">
		<node name="master" pkg="autopark" type="xbee_all_merged.py" />
		<node name="xbee_all_merged" pkg="autopark" type="xbee_all_merged.py" output="screen" />
		<node name="bluetooth_comm" pkg="bluetooth" type="bluetooth_comm.py" output="screen"/>
		<node name="optimal" pkg="multiagent" type="optimal.py" output="screen"/>
	</group>
	<group if="$(arg nav)">
	<node name="waypoint_parser_tracker" pkg="navigation" type="waypoint_parser_tracker.py" />
		<group if="$(arg emergency)">
		<node name="serial_node" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM$(arg usb)" />
		</group>
	</group>
</launch>
